* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, rgb(212, 138, 217), rgb(255, 214, 89));
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    border: 2px solid rgb(255, 127, 232);
    padding: 2rem;
    margin: 5rem;
    gap: 3vh;
    background-color: antiquewhite;

}

h1 {
    padding-bottom: 2rem;
    color: rgb(255, 127, 232);
}

#search-films {
    border: none;

}

#add-film {
    border: none;
    text-align: center;
}

input {
    border-color: #ff7fe8;
    padding: 0.2rem;
    border-radius: 5px;
}

input:focus {
    border-color: rgb(255, 127, 232);
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

button {
    padding: 0.15rem;
    border-color: #ff7fe8;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(255, 237, 214);
    -webkit-text-fill-color: #ff5de1;
    width: 3.8rem;
}